body {
  background-image: url(image/857915.jpg);
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quizz {
  justify-content: center;
}
#optionList {
  height: 400px;
  width: 100%;
}

#optionList h4 {
  height: 3.1rem;
  width: 100%;
  background: #e07c91;
  line-height: 50px;
  margin: 5px 0;
  border-radius: 7px;
  padding: 0 20px;
  font-size: 20px;
  color: #fff;
  overflow: hidden;
  border: 1px solid #b0c4d8;
  cursor: pointer;
}

#optionList h4:hover {
  background: #2fc7f5;
}

#optionList .active {
  background: #2fc7f5;
}

#optionList .disabled {
  pointer-events: none;
}

.choixred {
  background-color: red !important;
}
.choixvert {
  background-color: green !important;
}
.body {
  background-color: #133aca;
}

#question {
  text-shadow: 1px 1px 2px pink;
}
#start {
  margin-top: 10px;
}

#total_correct {
  text-align: center;
}
